.container-knowledge {
  display: flex;

  .group-knowledge {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .knowledge {
      font-size: 1.1rem;
      margin-bottom: 0.7rem;
    }
  }
}
