:root {
  --green: #1de9b6;
  /* --green: #0bdccf; */
  --green-gradient: rgba(29, 233, 182, 0.1);
  --black: #1e1e1e;
  --black-2: #202827;
  --white: #e2e2e2;
  --grey: #88909b;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter.woff2") format("woff2-variations");
  src: url("/assets/fonts/Inter.woff2") format("woff2") tech("variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
