---
import './styles.css'
import { t } from 'i18next'
---

<header class='header'>
  <img class='photo' src='/assets/img/Alejandro-Cortell.png' alt='Alejandro Cortell Foto' />
  <h1 class='name'>{t('title')}</h1>
  <h2 class='work'>{t('subtitle')}</h2>
  <ul class='contact-list'>
    <li class='contact'>
      <a href='https://www.linkedin.com/in/alejandrocortell/' target='_blank' class='link'>
        <img src='/assets/img/in.svg' alt='Linkedin' class='img' />
      </a>
    </li>
    <li class='contact'>
      <a href='https://github.com/alejandrocortell' target='_blank' class='link'>
        <img src='/assets/img/github.svg' alt='Github' class='img' />
      </a>
    </li>
  </ul>
</header>
