.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;
  background: radial-gradient(
    circle,
    var(--green-gradient) 0%,
    var(--black) 80%
  );

  .wrapper {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (width >= 576px) {
      max-width: 540px;
    }

    @media (width >= 768px) {
      max-width: 720px;
    }

    .badge {
      display: inline-block;
      padding: 8px 16px;
      background-color: var(--black-2);
      border-radius: 25px;
      font-weight: 400;
      color: var(--green);
      font-size: 0.8rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 40px;
      border: 0.5px solid var(--grey);
      order: -1;

      @media (width >= 576px) {
        font-size: 0.9rem;
      }

      @media (width >= 768px) {
        font-size: 1rem;
      }
    }

    .name {
      font-weight: 600;
      color: var(--white);
      font-size: 3rem;
      text-align: center;
      margin-bottom: 30px;

      @media (width >= 576px) {
        font-size: 4rem;
      }

      @media (width >= 768px) {
        font-size: 5rem;
      }

      .highlight {
        color: var(--green);
      }
    }

    .subtitle {
      font-weight: 300;
      color: var(--grey);
      font-size: 0.85rem;
      text-align: center;
      line-height: 1.5;
      max-width: 600px;

      @media (width >= 576px) {
        font-size: 1rem;
      }
    }
  }
}
