---
import './styles.css'
import { t } from 'i18next'
import { experiences } from '@/data/experiences'
---

<section class='container-experience'>
  {
    experiences.map((exp) => {
      return (
        <div class='experience'>
          <img class='company' loading='lazy' src={exp.img} alt={exp['alt-img']} />
          <div class='col'>
            <p class='time'>{t(exp.time)}</p>
            <p class='description'>{t(exp.description)}</p>
          </div>
        </div>
      )
    })
  }
</section>
